table{
  /* border: 1px solid black */
  width: 300px;
  margin: auto;
}

th{
  width: 100px;
  text-align: center;
  background-color: black;
  color: white;
}


td{
  width: 100px;
  text-align: center;
  background-color: gray;
}